* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

:root {
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  --Green-teal: hsl(166, 100%, 37%);
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Orangey-yellow: hsl(134.12, 50%, 15.64%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);
  --font-fraunces: "Hanken Grotesk", sans-serif;
  --font-Montserrat: "Hanken Grotesk", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 21rem;
  background-color: var(--White);
  border-radius: 20px;
  box-shadow: 10px 10px 20px 12px hsla(221, 100%, 96%, 0.6);
  overflow: hidden;
}

h2 {
  text-align: center;
}

.left-container {
  width: 100%;
  border-radius: 25px;
  text-align: center;
  color: var(--White);
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.header {
  margin-top: 4.5em;
}
.left-container .score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  padding: 3.5em;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background-image: linear-gradient(
    180deg,
    hsla(256, 72%, 46%, 0.7),
    hsla(241, 72%, 46%, 0)
  );
}

.score-message {
  font-size: 1em;
  opacity: 0.6;
}

.right-container {
  border-radius: 0 10px 0 10px;
  padding: 1.5rem;
  width: 100%;
}

p {
  font-family: var(--font-Montserrat);
  color: var(--dark-grayish-blue);
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 500;
  margin-top: 0.9rem;
  margin-bottom: 1.5rem;
}

button {
  width: 100%;
  margin-top: 0.2em;
  padding: 0.8em;
  border-radius: 2em;
  cursor: pointer;
  border: none;
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  font-size: 1em;
}

button:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.red-color {
  color: var(--Light-red);
}

.yellow-color {
  color: #ffb629;
}

.green-color {
  color: var(--Green-teal);
}

.violet-color {
  color: var(--Light-royal-blue);
}

.red-background {
  background-color: #fff6f5;
}

.yellow-background {
  background-color: #fffbf2;
}

.green-background {
  background-color: #f2fbfa;
}

.violet-background {
  background-color: #f3f3fd;
}

table {
  border-collapse: separate;
  border-spacing: 0 1em;
  width: 100%;
}
tbody {
  border: 3px solid red;
}
td {
  text-align: left;
  padding: 17px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 37.5rem;
    height: 28rem;
    flex-direction: row;
  }

  .left-container {
    width: 60%;
  }

  .left-container .score {
    width: 100px;
    height: 100px;
    padding: 5em;
    margin-top: 1.8em;
  }

  .header {
    margin-top: 0;
  }
  .score-message {
    font-size: 1.1em;
  }

  .right-container {
    padding: 2rem;
    width: 60%;
  }

  h1 {
    margin-top: 1rem;
  }

  p {
    margin-top: 1.5rem;
    margin-bottom: 1.8rem;
  }

  button {
    margin-top: 1.3em;
  }
}
